<h1 style="text-align: center">Compras</h1>
<section>  
<hr>
  <table mdbTable striped="true">
    <thead>

      <tr>
        <th>#Orden</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Total</th>
        <th>Ticket</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let compra of compraService.compras">
          <td>{{compra.id_order}}</td>
          <td>{{compra.nombre}}</td>
          <td>{{compra.fecha}}</td>
          <td>{{compra.hora}}</td>
          <td>${{compra.total}}</td>
          <td> <a (click)="ticket.show()"> 
            <i class="material-icons">description</i>
          </a></td>

<div mdbModal #ticket="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Ticket de compra</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ticket.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <h6 class="alinear-izq"><b>Numero de orden:</b> {{compra.id_order}}</h6>
          <h6 class="alinear-izq"><b>Fecha:</b> {{compra.fecha}}</h6>
          <h6 class="alinear-izq"><b>Hora:</b> {{compra.hora}}</h6>
          <h6 class="alinear-izq"><b>Cliente:</b> {{compra.nombre}}</h6>
          <!--<div class="container" *ngFor="let plato of compra.platillos">-->
              <table mdbTable>
                  <thead>
                    <tr>
                      <th>Modelo</th>
                      <th>Linea</th>
                      <th>Diametro</th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr mdbTableCol *ngFor="let plato of compra.platillos">
                      <th scope="row">{{plato.modelo}}</th>
                      <td>{{plato.linea}}</td>
                      <td>{{plato.diametro}}"</td>
                      <td>{{plato.cantidad}}</td>
                      <td>{{plato.precio}}</td>
                      <td>${{plato.precio * plato.cantidad}}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="alinear-der"><b>Total</b> ${{compra.total}}</h6>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="ticket.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
    </div>
    </div>
    </tr>
    </tbody>
  </table>

</section>