

<!--PERFIL-->
<div class="alineada">
<mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h4 style="text-align: center">Mi perfil</h4>
        <hr>
      </mdb-card-title>
      <h5><mdb-cards-text><b>Nombre:</b> {{usuario.nombre}}</mdb-cards-text></h5>
      <h5><mdb-cards-text><b>Nombre de usuario:</b> {{usuario.nombre_usuario}} </mdb-cards-text></h5>
      <h5><mdb-cards-text><b>Email:</b> {{usuario.email}}</mdb-cards-text></h5>
      <h5><mdb-cards-text><b>Tel:</b> {{usuario.tel}}</mdb-cards-text></h5>
      <div class="flex-row">
        
        <a class="card-link" (click)="frame.show()" (click)="editarUsuario(usuario)">Editar perfil <i class="material-icons">edit</i></a>
      </div>
    </mdb-card-body>
</mdb-card>
</div>

<!--EDITAR PERFIL-->
<div mdbModal #frame="mdbModal" style="overflow-y: auto" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Editar usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #editarUForm="ngForm">
      <div class="modal-body mx-3">
        
        <input type="number" id="id_usuario" name="id_usuario" #id_usuario="ngModel" [(ngModel)]="usuarioService.usuarioLogueado.id_usuario"  style="visibility:hidden">

          <div class="md-form mb-5">
            <input mdbInput type="text" class="form-control validate" id="nombre_usuario" name="nombre_usuario" #linea="ngModel"  [(ngModel)]="usuarioService.usuarioLogueado.nombre_usuario">
            <label data-error="wrong" data-success="right" for="linea">Nombre de usuario</label>
          </div>
 
          <div class="md-form mb-5" >
              <input mdbInput  type="text" class="form-control validate" name="email" #email="ngModel" [(ngModel)]="usuarioService.usuarioLogueado.email">
              <label data-error="wrong" data-success="right">Email</label>
          </div>

          <div class="md-form mb-5" >
              <input mdbInput  type="text" class="form-control validate" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioService.usuarioLogueado.nombre">
              <label data-error="wrong" data-success="right">Nombre</label>
          </div>
    
          <div class="md-form mb-5" >
              <input mdbInput type="number" class="form-control validate" name="tel" #tel="ngModel" [(ngModel)]="usuarioService.usuarioLogueado.tel">
              <label data-error="wrong" data-success="right">Telefono</label>
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
       
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="frame.hide()" mdbWavesEffect>Close</button>
        <button mdbBtn  type="button"  (click)="guardarEdicionUsuario(editarUForm)" (click)="frame.hide()" class="btn right relative green">Guardar</button>

      </div>
    </form>
    </div>
  </div>
</div>


<!--CARRO-->
<div class="alineada-carro">
<h3>Carro </h3>
<div *ngIf="carritoService.carritos.length != 0; else elseCarro">
<table mdbTable striped="true">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Linea</th>
      <th>Diametro</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let carrito of carritoService.carritos">
      <td>{{carrito.modelo}}</td>
      <td>{{carrito.linea}}</td>
      <td>{{carrito.diametro}}</td>
      <td>{{carrito.cantidad}}</td>
      <td>${{carrito.precio}}</td>
      <td>${{carrito.cantidad * carrito.precio}}  </td>
      <td><a (click)="eliminarCarrito(carrito.id_carrito)" > 
          <i class="material-icons">delete</i> 
        </a></td>
    </tr>
    <button type="button" (click)="comprar(carritoService.carritos)" mdbBtn color="success" mdbWavesEffect>Comprar</button>
 
  </tbody>
</table>
</div>

<ng-template #elseCarro>

  <div class="container">
    <h1>Tienes el carro vacío <i class="material-icons">remove_shopping_cart</i></h1>
  </div>

</ng-template>
<hr>

</div>

<!--COMPRAS-->
<section>  
  <table mdbTable striped="true">
    <thead>
      <tr>
        <th>#Orden</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Total</th>
        <th>Ticket</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let compra of compraService.compras">
          <td>{{compra.id_order}}</td>
          <td>{{compra.fecha}}</td>
          <td>{{compra.hora}}</td>
          <td>${{compra.total}}</td>
          <td> <a (click)="ticket.show()"> 
            <i class="material-icons">description</i>
          </a></td>

<div mdbModal #ticket="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Ticket de compra</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ticket.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <h6 class="alinear-izq"><b>Numero de orden:</b> {{compra.id_order}}</h6>
          <h6 class="alinear-izq"><b>Fecha:</b> {{compra.fecha}}</h6>
          <h6 class="alinear-izq"><b>Hora:</b> {{compra.hora}}</h6>
          <!--<div class="container" *ngFor="let plato of compra.platillos">-->
              <table mdbTable>
                  <thead>
                    <tr>
                      <th>Modelo</th>
                      <th>Linea</th>
                      <th>Diametro</th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr mdbTableCol *ngFor="let plato of compra.platillos">
                      <th scope="row">{{plato.modelo}}</th>
                      <td>{{plato.linea}}</td>
                      <td>{{plato.diametro}}"</td>
                      <td>{{plato.cantidad}}</td>
                      <td>{{plato.precio}}</td>
                      <td>${{plato.precio * plato.cantidad}}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="alinear-der"><b>Total</b> ${{compra.total}}</h6>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="ticket.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
    </div>
    </div>
    </tr>
    </tbody>
  </table>

</section>



<!--ORDENES PEDIENTES-->
<section *ngIf="compraService.datosPendiente != undefined">
    <div class="container" *ngFor="let elem of compraService.datosPendiente">
    <mdb-card class="text-center">
      <mdb-card-header>Mercadopago pendiente</mdb-card-header>
      <mdb-card-body>
        <mdb-card-title>
          <h5>Tienes pendiente este ticket...</h5>
        </mdb-card-title>
        <div *ngFor="let item of elem.items">
        <mdb-card-text>{{item.quantity}} {{item.title}} ${{item.unit_price * item.quantity}}</mdb-card-text>
      </div>
        <a href="{{elem.url}}" mdbBtn color="primary">Ver más</a>
      </mdb-card-body>
      <mdb-card-footer class="text-muted">Expira {{elem.fechaExpiracion}}</mdb-card-footer>
    </mdb-card>
    </div>
    </section>